.secondNavbarContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #666666;
    color: #eeeeee;
    position: relative;
}

.dropMenu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    background-color: #eeeeee;
    max-width: 1304px;
    z-index: 2;
    color: #000000;
    width: 100%;
    padding: 24px 10px;
}

.dropMenuHidden {
    display: none;
}

.secondNavbar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1366px;
    height: 100%;
    margin: 0 auto;
    padding: 0 32px;
}

.navbarButton {
    letter-spacing: 0.8px;
    padding: 0 10px;
    height: 100%;
}

.navbarButton:hover {
    background-color: #eeeeee;
    color: #666666;
}

.subMenuItems:hover {
    color: #3860be;
    cursor: pointer;
}

.subMenuContainers {
    display: flex;
    flex-direction: column;
    color: #666666;
}

.subMenuContainersM {
    border-left: #666666;
    border-right: #666666;
    display: flex;
    flex-direction: column;
}
